/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.header{
  text-align: center;
  background-color: white;
  text-align-all: center;
  height: 60px;
  border-style: dot-dash;
  border-radius: 10px
}

