<div class = 'header'>
  <a href="https://www.it-works.io/">
    <span >Powered by ItWorks </span>
  </a>
</div>
<div>

</div>
<div style="text-align: center ">
  <div class="mat-display-4">Welcome to First</div>
</div>
<h1>Homepage</h1>
<h2>Per te pare detajet kliko nje nga links me poshte: </h2>


<mat-card class="hot-drinks">
  <mat-card-header>
    <div mat-card-avatar class="hot-header-image"></div>
    <nav>

      <a routerLink="/details-te-ngrohta" routerLinkActive="active">Te ngrohta</a>

    </nav>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://media.istockphoto.com/photos/many-cups-of-coffee-on-wooden-table-picture-id504333530" alt="Photo of hot drinks">
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>


  </mat-card-actions>
</mat-card>


<mat-card class="bar-drinks">
  <mat-card-header>
    <div mat-card-avatar class="bar-header-image"></div>
    <nav>

      <a routerLink="details-te-ftohta" routerLinkActive="active">Freskuese</a>

    </nav>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://www.mashed.com/img/gallery/the-best-cheap-mixed-drinks-to-order-at-a-bar/intro-1571943589.jpg" alt="Photo of common drinks">
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>


  </mat-card-actions>
</mat-card>

<mat-card  class="other">
  <mat-card-header>
    <div mat-card-avatar class="other-header-image"></div>
    <nav>
      <a routerLink="/details-te-tjera" routerLinkActive="active">Alkolike</a>
    </nav>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://media.istockphoto.com/photos/beer-and-wine-picture-id177521527?k=20&m=177521527&s=612x612&w=0&h=EtTTrpodFbgy9froI_EGGJZGQdCRjBrL-Fzb36QD1Vg=" alt="Photo of other drinks" >
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>


  </mat-card-actions>
</mat-card>


<router-outlet></router-outlet>


  <!-- Routed views go here -->



